/* styles/2-footer.css */
footer {
  background-color: #00FF00;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  padding: 0;
}
